extends layout

block content
  h1= title
  p Welcome to #{title}
  .message= msg
  .message #{msg}
  span.message(id="msg") #{msg}
  img(src="../public/images")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac efficitur neque. 
    Pellentesque elit libero, accumsan ut diam sit amet, maximus fermentum odio. Quisque 
    tristique, metus id lobortis tempus, elit elit eleifend est, in bibendum metus ligula 
    at magna. Mauris eu magna et est interdum malesuada. Proin sed tempor tellus.
    Pellentesque lorem risus, pulvinar ut enim sed, tempor gravida mi. Vivamus tortor 
    felis, viverra non risus vel, eleifend pellentesque eros. Mauris nec diam iaculis, 
    molestie quam nec, ultricies augue. In dapibus magna sed sapien aliquet condimentum. 
    Integer a condimentum metus. Quisque nec purus nec elit bibendum semper. Curabitur 
    accumsan sagittis vehicula. Integer vel ultricies mauris. Vestibulum iaculis laoreet 
    leo et commodo.

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac efficitur neque. 
    Pellentesque elit libero, accumsan ut diam sit amet, maximus fermentum odio. Quisque 
    tristique, metus id lobortis tempus, elit elit eleifend est, in bibendum metus ligula 
    at magna. Mauris eu magna et est interdum malesuada. Proin sed tempor tellus.
    Pellentesque lorem risus, pulvinar ut enim sed, tempor gravida mi. Vivamus tortor 
    felis, viverra non risus vel, eleifend pellentesque eros. Mauris nec diam iaculis, 
    molestie quam nec, ultricies augue. In dapibus magna sed sapien aliquet condimentum. 
    Integer a condimentum metus. Quisque nec purus nec elit bibendum semper. Curabitur 
    accumsan sagittis vehicula. Integer vel ultricies mauris. Vestibulum iaculis laoreet 
    leo et commodo.