extends layout

block content
  h1= title
  p Welcome to #{title}
  .message= msg
  .message #{msg}
  span.message(id="msg") #{msg}
  img(src="/images/mountains.jpg")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at porta diam. Morbi quis pellentesque felis, at feugiat neque. Nullam et tristique enim. Integer laoreet tempus felis quis iaculis. In ut ante eu nisi sagittis ultricies quis et massa. Nam blandit metus quis tellus condimentum, a aliquet mi varius. Fusce mollis convallis accumsan. Phasellus interdum cursus nunc, ac venenatis est sollicitudin in. Duis quis fringilla ex, scelerisque ullamcorper urna. Aenean pellentesque aliquam augue eu fermentum.
  p Vestibulum non rutrum turpis. Nam pretium arcu ac sem ultrices faucibus. Praesent viverra quis libero sit amet egestas. Pellentesque in dignissim neque. Fusce suscipit maximus ligula sed sodales. Nullam laoreet velit ut consequat auctor. Suspendisse eu iaculis augue. Aliquam erat volutpat. Etiam eu felis placerat lectus rhoncus fermentum. Vestibulum ut ultrices mauris. In hac habitasse platea dictumst.
        